USE [master]
GO
/****** Object:  Database [StockApp]    Script Date: 27.06.2020 19:02:35 ******/
CREATE DATABASE [StockApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StockApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\StockApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StockApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\StockApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StockApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StockApp]
GO
/****** Object:  Table [dbo].[StocCard]    Script Date: 27.06.2020 19:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StocCard](
	[STOKID] [int] IDENTITY(1,1) NOT NULL,
	[Urun] [varchar](50) NULL,
 CONSTRAINT [PK_StocCard] PRIMARY KEY CLUSTERED 
(
	[STOKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockMovement]    Script Date: 27.06.2020 19:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockMovement](
	[HAREKETID] [int] NOT NULL,
	[STOCKID] [int] NULL,
	[GIRIS] [smallint] NULL,
	[CIKIS] [smallint] NULL,
 CONSTRAINT [PK_StockMovement] PRIMARY KEY CLUSTERED 
(
	[HAREKETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[StocCard] ON 

INSERT [dbo].[StocCard] ([STOKID], [Urun]) VALUES (1, N'Telefon')
INSERT [dbo].[StocCard] ([STOKID], [Urun]) VALUES (2, N'Bilgisayar')
INSERT [dbo].[StocCard] ([STOKID], [Urun]) VALUES (3, N'Buzdolap')
SET IDENTITY_INSERT [dbo].[StocCard] OFF
GO
INSERT [dbo].[StockMovement] ([HAREKETID], [STOCKID], [GIRIS], [CIKIS]) VALUES (1, 1, 12, 11)
INSERT [dbo].[StockMovement] ([HAREKETID], [STOCKID], [GIRIS], [CIKIS]) VALUES (2, 2, 13, 11)
INSERT [dbo].[StockMovement] ([HAREKETID], [STOCKID], [GIRIS], [CIKIS]) VALUES (3, 3, 5, 2)
GO
ALTER TABLE [dbo].[StockMovement]  WITH CHECK ADD  CONSTRAINT [FK_StockMovement_StocCard] FOREIGN KEY([HAREKETID])
REFERENCES [dbo].[StocCard] ([STOKID])
GO
ALTER TABLE [dbo].[StockMovement] CHECK CONSTRAINT [FK_StockMovement_StocCard]
GO
/****** Object:  StoredProcedure [dbo].[StokHareket]    Script Date: 27.06.2020 19:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[StokHareket]
AS
Select HAREKETID,Urun,GIRIS,CIKIS, (max(GIRIS)-max(CIKIS)) as HAREKETMIKTARI FROM StockMovement INNER JOIN StocCard ON StocCard.STOKID=StockMovement.HAREKETID group by HAREKETID,Urun,GIRIS,CIKIS
GO
USE [master]
GO
